@font-face {
	font-family: 'IsadoraBold';
	src: url('../fonts/IsadoraBold/IsadoraBold.eot') format('eot'),
		url('../fonts/IsadoraBold/IsadoraBold.woff') format('woff'),
		url('../fonts/IsadoraBold/IsadoraBold.ttf') format('truetype');
}
@font-face {
	font-family: 'NautilusPompiliusRegular';
	src: url('../fonts/NautilusPompilius/NautilusPompiliusRegular.eot') format('eot'),
		url('../fonts/NautilusPompilius/NautilusPompiliusRegular.woff') format('woff'),
		url('../fonts/NautilusPompilius/NautilusPompiliusRegular.ttf') format('truetype');
}
@font-face {
	font-family: 'RalewayRegular';
	src: url('../fonts/Raleway/RalewayRegular/RalewayRegular.eot') format('eot'),
		url('../fonts/Raleway/RalewayRegular/RalewayRegular.woff') format('woff'),
		url('../fonts/Raleway/RalewayRegular/RalewayRegular.ttf') format('truetype');
}
@font-face {
	font-family: 'RalewayBlack';
	src: url('../fonts/Raleway/RalewayBlack/RalewayBlack.eot') format('eot'),
		url('../fonts/Raleway/RalewayBlack/RalewayBlack.woff') format('woff'),
		url('../fonts/Raleway/RalewayBlack/RalewayBlack.ttf') format('truetype');
}
@font-face {
	font-family: 'RalewayExtraBold';
	src: url('../fonts/Raleway/RalewayExtraBold/RalewayExtraBold.eot') format('eot'),
		url('../fonts/Raleway/RalewayExtraBold/RalewayExtraBold.woff') format('woff'),
		url('../fonts/Raleway/RalewayExtraBold/RalewayExtraBold.ttf') format('truetype');
}
@font-face {
	font-family: 'RalewayBold';
	src: url('../fonts/Raleway/RalewayBold/RalewayBold.eot') format('eot'),
		url('../fonts/Raleway/RalewayBold/RalewayBold.woff') format('woff'),
		url('../fonts/Raleway/RalewayBold/RalewayBold.ttf') format('truetype');
}


@font-face {
	font-family: 'RobotoCondensedBold';
	src: url('../fonts/RobotoCondensedBold/RobotoCondensedBold.eot') format('eot'),
		url('../fonts/RobotoCondensedBold/RobotoCondensedBold.woff') format('woff'),
		url('../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf') format('truetype');
}
@font-face {
	font-family: 'ArialItalic';
	src: url('../fonts/ArialItalic/ArialItalic.eot') format('eot'),
		url('../fonts/ArialItalic/ArialItalic.woff') format('woff'),
		url('../fonts/ArialItalic/ArialItalic.ttf') format('truetype');
}
@font-face {
	font-family: '1IsadoraMBold';
	src: url('../fonts/1IsadoraMBold/1IsadoraMBold.eot') format('eot'),
		url('../fonts/1IsadoraMBold/1IsadoraMBold.woff') format('woff'),
		url('../fonts/1IsadoraMBold/1IsadoraMBold.ttf') format('truetype');
}
