//fonts
$main-font: 'RalewayRegular', sans-serif;
$menu-font: 'RalewayBold', sans-serif;
$legend-font: 'RalewayExtraBold', sans-serif;
$header-font: 'RalewayBlack', sans-serif;
$phone-font: 'RobotoCondensedBold', sans-serif;
$logo-font: 'IsadoraBold', sans-serif;
$beautiful-font: '1IsadoraMBold', sans-serif;

$nautilus: 'NautilusPompiliusRegular', sans-serif;
$form-font: 'ArialItalic', sans-serif;


//colors
$white: #ffffff;
$main-color : #8b764e;
$accent: #D6AE70;
