@import "../../node_modules/bootstrap/scss/bootstrap-grid";
@import "../../node_modules/slick-carousel/slick/slick.scss";
@import "../../node_modules/slick-carousel/slick/slick-theme.scss";

// modules & sections

@import "modules/sprite";
@import "functions";
@import "reset";
@import "fonts";
@import "variables";


.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
}

body {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
  line-height: 1.2;
  font-size: 14px;
  background-color: #f4f4f4;
}

section {
  position: relative;
}
h1, .h1 {
  font-family: $isadora;
  font-size: 52px;
  color: $white;
}

h2, .h2 {
  font-family: $menu-font;
  font-size: 24px;

  color: $black;
  text-align: center;
}

h3, .h3 {
  text-transform: uppercase;
  font-size: 18px;
  font-family: $name-font;
  font-weight: normal;
  color: $black;
}

p {
  font-family: $text-font;
  font-size: 16px;
  color: $black;
}

.section-header {
  .h2 {
    color: $black;
    font-family: $header-font;
    text-transform: uppercase;
    padding-top: 80px;
    padding-bottom: 40px;
  }
  p {
    text-align: center;
    max-width: 550px;
    margin-right: auto;
    margin-left: auto;
  }

  &.white {
    h2 {
      color: $white;
    }

    p {
      color: $white;
    }
  }
}


.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 161px;
  background-color: $accent;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  font-family: $menu-font;

  .quantity {
    display: none;
    padding-right: 8px;
    padding-left: 16px;

    transition: all .5s;

  }

  input.number {
    display: none;
    width: 40px;
    height: 48px;
    text-align: center;
    background-color: $accent-light;
    outline: none;
    border: none;
    font-family: $phone-font;
    font-size: 20px;
    color: white;

    transition: all .5s;

    &::placeholder {
      color: white;
    }
  }
  button {
    border: none;
  }
}

.button.active {
  cursor: default;
  width: 200px;

  .quantity {
    display: inline-block;
  }

  .number {
    display: inline-block;
  }

  .btn {
    cursor: pointer;
    padding: 10px 16px 8px 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    .choose {
      display: none;
    }
  }
}

// стили кнопки
.btn {
  display: inline-block;
  padding: 17px 35px;
  height: 48px;
  background-color: $accent;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  font-family: $menu-font;
}

.choose-btn {
  @extend .btn;

  .fas {
    margin-right: 8px;
  }
}

//Логотип
.logo {
  display: inline-block;
  margin-left: 10px;
  z-index: 3;
  img {
    width: 100%;
    height: auto;
  }
}

.scroll-button {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
  -moz-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  -o-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: $accent-light;

  .fas {
    margin-left: 22px;
    line-height: 2.4;
    color: $white;
    text-align: center;
    font-size: 25px;
  }
}

/*---------SECTIONS-------*/
@import "sections/header";
@import "sections/top";
@import "sections/pizza-slider";



ul.slick-dots {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 77px;


  li {
    height: 15px;
    width: 15px;
    background-color: lighten($accent, 10%);
    border-radius: 30px;

    button {
      &:before {
        content: ' ';
      }
    }
  }

  li.slick-active {
    background-color: $accent;
  }
}

.pizza-btn {
  margin-top: auto;
}

@import "sections/snacks-section";
@import "sections/drinks-section";
@import "sections/warranty";
@import "sections/order-section";
@import "sections/footer-section";



// .checkout {
//   .container {
//     margin: 80px auto;
//   }
// }

.checkout-form {
  .section-header {
    margin-bottom: 60px;

    h2 {
      text-align: left;
      padding-bottom: 30px;
    }

    p {
      width: auto;
      max-width: 620px;
      text-align: left;
      margin-right: 0;
      margin-left: 0;
      font-size: 18px;
      line-height: 28px;
    }
  }

  //форма
  .form {
    &-item {
      @extend .col-md-3;
    }
  }

}


/* media */ 
@media (max-width: 360px) {

}


@media (max-width: 1200px) {
  .menu {
    &-item {
      margin-right: 13px;
    }
  }
}
