.order-section {
.container {

}
  .section-header {
    margin-bottom: 60px;
  }
}

.order-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  label {
    width: calc(50% - 10px);
    flex-basis: calc(50% - 10px);
    margin-bottom: 35px;

  }
  span {
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #666666;
    padding-bottom: 10px;
    font-style: italic;
  }
  input {
    display: block;
    width: 100%;
    height: 45px;
    padding: 15px 10px;
    background-color: #eeeeee;
    border: 1px solid #d5d5d5;

    &:focus {
      outline: none;
      border: 1px solid #b99c63;
    }
  }
  textarea {
    display: block;
    width: 100%;
    height: 100px;
    padding: 15px 10px;
    background-color: #eeeeee;
    border: 1px solid #d5d5d5;
    &:focus {
      outline: none;
      border: 1px solid #b99c63;
    }
  }
  .form-address, .form-comment {
    width: 100%;
    flex-basis: 100%;
  }
}

.order-form-block {
  @extend .col-md-7;
  .section-header {
    h2 {
      text-align: left;
      margin: 0 auto 0 0;
    }
    p {
      text-align: left;
      margin: 0 auto 0 0;
    }
  }
}

.checkout {
  @extend .col-md-5;
  background-color: #2a2a2a;
  padding: 23px;

  &-block {
    width: 100%;
    height: 100%;
    border: 1px solid #555555;
    padding: 52px 22px;
    display: flex;
    flex-direction: column;
  }
  h2 {
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 55px;
  }

  .remove-btn {
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #f6ecec;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    i {
      font-size: 20px;
      color: #982e2e;
    }
  }
  .sum {
    margin-top: auto;
    margin-bottom: 60px;
  }
  .buttons-block {

  }
}
.checkout-list {
  padding-bottom: 10px;
  margin-bottom: 60px;
  border-bottom: 1px solid #555555;

}
.checkout-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  p {
    display: block;
    color: #ffffff;
    font-size: 15px;
    overflow: hidden;
  }
  .product {
    &:after {
      content: '.....................';
      overflow: hidden;
      display: inline-block;
      white-space: nowrap;
      vertical-align: bottom;
    }
  }
  .price {
    text-align: right;
    margin-left: auto;
  }
}
.buttons-block {
  .reset {
    background-color: transparent;
    color: #8a8a8a;
    span {
      display: inline-block;
      border-bottom: 1px solid #8a8a8a;
    }
  }
}
