.order {
  padding: 80px 0;

  .container {

  }

  .section-header {
    margin-bottom: 60px;
  }
}

.order-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  label {
    width: calc(50% - 10px);
    flex-basis: calc(50% - 10px);
    margin-bottom: 35px;

  }

  span {
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #666666;
    padding-bottom: 10px;
    font-style: italic;
  }

  input {
    display: block;
    width: 100%;
    height: 45px;
    padding: 15px 10px;
    background-color: #eeeeee;
    border: 1px solid #d5d5d5;

    &:focus {
      outline: none;
      border: 1px solid #b99c63;
    }
  }

  textarea {
    display: block;
    width: 100%;
    height: 100px;
    padding: 15px 10px;
    background-color: #eeeeee;
    border: 1px solid #d5d5d5;

    &:focus {
      outline: none;
      border: 1px solid #b99c63;
    }
  }

  .form-address, .form-comment {
    width: 100%;
    flex-basis: 100%;

  }
}

.order-form {
  .form-comment {
    margin-bottom: 0;
    label {
      margin-bottom: 0;
    }
  }
}

.order-form-block {
  @extend .col-xl-7, .col-lg-6, .col-md-5;

  .section-header {
    h2 {
      text-align: left;
      margin: 0 auto 0 0;
    }

    p {
      text-align: left;
      margin: 0 auto 0 0;
    }
  }
}

.checkout {
  @extend .col-xl-5, .col-lg-6, .col-md-7;
  background-color: #2a2a2a;
  padding: 23px;

  &-block {
    width: 100%;
    height: 100%;
    border: 1px solid #555555;
    padding: 52px 22px;
    display: flex;
    flex-direction: column;
  }

  h2 {
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 55px;
  }

  .remove-btn {
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a2a2a;
    border: none;
    z-index: 1;

    i {
      font-size: 20px;
      color: #982e2e;
    }
  }

  .sum {
    margin-top: auto;
    margin-bottom: 60px;

    span {
      display: inline-block;
    }
  }
}

.checkout-list {
  padding-bottom: 10px;
  margin-bottom: 60px;
  border-bottom: 1px solid #555555;

}

.checkout-item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;

  span {
    display: inline-block;
    color: #ffffff;
    font-size: 15px;
    z-index: 1;
    background-color: #2a2a2a;
    white-space: nowrap;
    overflow: hidden;
  }

  .product {
    padding-left: 10px;
    max-width: 237px;
    //margin-right: 10px;
  }

  .price {
    text-align: right;
    margin-left: auto;
  }

  &::after {
    content: '';
    position: absolute;
    height: 0;
    width: 100%;
    bottom: 5px;
    left: 0;
    border-bottom: 1px dashed #fff;
    z-index: 0;
  }
}

.buttons-block {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  button {
    border: none;
  }
  .reset {
    background-color: transparent;
    color: #8a8a8a;

    span {
      display: inline-block;
      border-bottom: 1px solid #8a8a8a;
    }
  }
}


//media
@media (max-width: 1200px) {
  .checkout {
    h2 {
      font-size: 25px;
    }
  }
  .checkout-item {
    //span {
    //  font-size: 13px;

  }
  .buttons-block {
    .reset, .issue {
      font-size: 14px;
    }
  }
}

@media (max-width: 992px) {
  .order-form {
    justify-content: flex-start;

    label {
      width: calc(100%);
      flex-basis: calc(100%);
      margin-bottom: 25px;
    }
  }
  .buttons-block {
    .btn, .choose-btn {
      padding-right: 20px;
      padding-left: 20px;
    }
  }


  .checkout-item .product {
    max-width: 180px;
  }
}

@media (max-width: 768px) {
  .checkout-item .product {
    max-width: 250px;
  }
  .order-form {
    .form-comment {
      margin-bottom: 35px;
      label {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 460px) {
  .checkout-item .product {
    max-width: 100px;
  }
}

@media (max-width: 320px) {
  .checkout-item .product {
    max-width: 90px;
  }
}
