.pizza-section {
  position: relative;
  z-index: 2;
  .scroll-btn {
    bottom: auto;
    top: 0;
    -webkit-transform: translate(50%, -29px);
    -moz-transform: translate(50%, -29px);
    -ms-transform: translate(50%, -29px);
    -o-transform: translate(50%, -29px);
    transform: translate(50%, -29px);
  }
  .container {
    margin-top: -100px;
    background-color: $white;
  }
  .section-header {
    padding-bottom: 60px;
  }
}

.pizza-slider {
  @extend .col-md-10, .offset-md-1;
  position: static;
  padding-top: 20px;
  padding-bottom: 20px;
  &.slick-slider {
    margin-bottom: 100px;
  }
  //pizza-slider-item
  &-item {
    width: 280px;
    margin-left: 11px;
    margin-right: 11px;
    .offer {
      background-repeat: no-repeat;
      background-position: center;
      -webkit-background-size: cover;
      background-size: cover;
      padding: 40px 0 30px;
      img {
        width: 205px;
        height: 205px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
      }
    }
    &:first-child {
      margin-left: 0;
    }
  }

  .slick-arrow, .slick-prev, .slick-next {
    background-color: $accent-color;
    width: 47px;
    height: 100px;
    color: white;
    font-size: 24px;
    top: 30%;
    z-index: 10;
    &:before {
      content: '';
    }
    &:hover {
      background-color: $main-color;
    }
  }
  .slick-prev {
    left: 0;
    border-radius: 0 100% 100% 0 / 0 50% 50% 0;
    .fas {
      margin-right: 7px;
    }
  }
  .slick-next {
    right: 0;
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    .fas {
      margin-left: 7px;
    }
  }
}

.data {
  position: relative;
  .size {
    display: inline-block;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    text-align: center;
    color: $white;
    font-family: $phone-font;
    line-height: 2.1;
    cursor: pointer;
    &-26 {
      margin-left: 30px;
      width: 45px;
      height: 45px;
      border: 5px solid $accent-color;
      font-size: 16px;
    }
    &-32 {
      margin-left: 10px;
      width: 54px;
      height: 54px;
      border: 6px solid $accent-color;
      font-size: 20px;
    }
    &.selected {
      background-color: $main-color;
    }
  }
  .price {
    width: 135px;
    height: 45px;
    line-height: 1;
    text-align: center;
    top: 3px;
    right: -16px;
    display: inline-block;
    position: absolute;
    padding: 10px 10px 10px;
    color: $white;
    font-family: $phone-font;
    font-size: 24px;
    background-color: $accent-color;
  }
}
.description {
  margin-top: 30px;
  h3 {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid $main-color;
  }
  p {
    padding-bottom: 25px;
  }
  .composition {
    color: #666666;
    padding-bottom: 33px;
  }
}

ul.slick-dots {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 77px;
  li {
    height: 15px;
    width: 15px;
    background-color: lighten($main-color, 10%);
    border-radius: 30px;
    button {
      &:before {
        content: ' ';
      }
    }
  }
  li.slick-active {
    background-color: $main-color;
  }
}

.pizza-btn {
  margin-top: auto;
}


//media

@media (max-width: 1200px) {
  .pizza-slider-item {
    .offer {
      img {
        width: 200px;
        height: 200px;
      }
    }
  }
  .data {
    .size {
      &-26 {
        margin-left: 15px;
      }
      &-32 {
        margin-left: 10px;
      }
    }
    .price {
      width: 105px;
      line-height: 1.1;
      padding: 10px 5px 10px;
      font-size: 21px;
    }
  }
  .description {
    margin-top: 20px;
    h3 {
    }
  }
}

@media (max-width: 768px) {
  .pizza-section {
    .container {
      margin-top: -50px;
    }
    .section-header {
      padding-bottom: 30px;
    }
  }
  .pizza-slider.slick-slider {
    margin-bottom: 70px;
  }
  .pizza-slider-item {
    .offer {
      img {
        width: 180px;
        height: 180px;
      }
    }
  }
  .data {
    .size {
      &-26 {
        margin-left: 10px;
      }
      &-32 {
        margin-left: 5px;
      }
    }
  }
}

@media (max-width: 540px) {
  .pizza-slider-item {
    .offer {
      img {
        width: 205px;
        height: 205px;
      }
    }
  }
  .data {
    .size {
      &-26 {
        margin-left: 30px;
      }
      &-32 {
        margin-left: 10px;
      }
    }
    .price {
      width: 135px;
      line-height: 1;
      padding: 10px 10px 10px;
      font-size: 24px;
    }
  }
}
