.drinks {
  .container {
    text-align: center;
    padding-bottom: 90px;
  }
  .section-header {
    padding-bottom: 100px;
  }
}
.drinks-slider {
  &_item {
    position: relative;
    width: 140px;
    text-align: center;
    margin: 0 50px;
    padding: 25px 0;
    transform: scale(.9);
    transition: .3s;
    opacity: 0;
    &.slick-active {
      opacity: 1;
    }
    &.slick-center {
      transform: scale(1.1);
      transition: .3s;
    }

    .image {
      margin-bottom: 55px;
    }
    img {
      margin: 0 auto;
      height: 285px;
    }

    .text {
      margin-bottom: 30px;

      h3 {
        color: #333333;
        padding-bottom: 18px;
      }

      p {
        font-family: $name-font;
        color: #999999;
        font-size: 16px;
      }
    }

    .button {
      width: 100%;

      .number {
        margin-left: auto;
      }
    }
  }

  /*---slider-styles-----*/
  .slick-arrow, .slick-next, .slick-prev {
    width: 50px;
    height: 50px;
    font-size: 36px;
    color: #706965;
    background-color: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: 2;
    &:before {
      content: '';
    }
    &:hover {
      color: $white;
      background-color: $accent;
    }
  }
  .slick-prev {
    left: -4%;
  }
  .slick-next {
    right: -4%;
  }
}

@media (max-width: 992px) {
  .drinks-slider_item {
    margin: 0 15px;
    padding: 0 0;
    transform: scale(.7);
    &.slick-center {
      transform: scale(1);
    }
  }
}
@media (max-width: 768px) {
  .drinks-slider_item {
    margin: 0 5px;

    &.slick-center {

    }
  }
}
